[submodule "references/swift-composable-architecture"]
	path = references/swift-composable-architecture
	url = https://github.com/pointfreeco/swift-composable-architecture
[submodule "references/swift-sharing"]
	path = references/swift-sharing
	url = https://github.com/pointfreeco/swift-sharing
[submodule "references/swift-dependencies"]
	path = references/swift-dependencies
	url = https://github.com/pointfreeco/swift-dependencies
[submodule "references/isowords"]
	path = references/isowords
	url = https://github.com/pointfreeco/isowords
[submodule "references/composable-core-location"]
	path = references/composable-core-location
	url = https://github.com/pointfreeco/composable-core-location
